* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  padding: 5%;
}

.App,
.add-product,
.list-grocery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-product,
.list-grocery {
  display: flex;
  flex-direction: column;
  padding: 2% 2% 0 2%;
  width: 100%;
}
.grocery-list {
  display: flex;
  flex-direction: column;
}

.grocery-list-btn {
  margin-top: 2%;
  padding: 2%;
  cursor: pointer;
}

form {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #000;
  padding: 2%;
}

.grocery-list-phone,
.grocery-list-product,
input[type="submit"] {
  width: 100%;
}

.grocery-list-phone input,
.grocery-list-product input {
  width: 85%;
  margin-top: 2%;
}

label {
  display: inline-block;
  width: 15%;
  text-align: left;
}

.grocery-list-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}